*{
    padding: 0;
    margin: 0;
}
body{
    
  font-family: "Young Serif", serif;
  
}

    
.container{
  padding: 50px;
}
.section-one{
  color: white;
  background-color: black;
  padding: 20px;
 

}.section-one__contact{
  background-color: orange;
  text-decoration: none;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  margin-top: 10px;
}
.section-one__name{
  font-size: 60px;
  
}
.section-one__role{
  font-size: 30px;
  margin-top: 10px;

}
.section-two{
  margin-top: 20px;
}
.section-three{
  margin-top: 20px;
}
.section-four{
  margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc,.section-five__title{
  margin-top: 10px;
}
.section-five{
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;

}
.section-five__title a{
  color: aqua;
}
.section-three li,.section-four li{
  list-style: none;
 
}
.section-three  {
  display: inline-block;
  background-color: #6462FD;
  padding: 20px;
  height: 300px;
  border-radius: 10px;
  vertical-align: top;

}
.section-four{
   display: inline-block;
  background-color: orangered;
  padding: 20px;
  height: 300px;
  border-radius: 10px;
  vertical-align: top;
  width: 700px;
  line-height: normal;

}
.contact-form{
  margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
  margin-top: 10px;
  
}
.contact-form__input{
  border: none;
  border-bottom: solid black;
  padding: 10px;




}
.contact-form__submit{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: orange;
}
